.product-page {
  margin-bottom: 20px;
  color: $color_storm_dust_approx;
  .product-content {
    float: left;
    width: 60%;
    background: $white;
    padding: $padding-base;
  }
  .product-media {
    width: 40%;
  }
  .product-image {
    border: 1px solid $color_mercury_approx;
    max-width: 100%;
  }
  .product-title {
    margin: 0;
    font: normal 20px/26px $font_0;
    display: block;
    padding-bottom: 18px;
  }
  .product-price {
    font-family: $font_1;
    color: $color_quicksand_approx;
    font-size: 24px;
    line-height: 40px;
  }
  .product-quantity-container {
    margin-bottom: 20px;
    .product-quantity-title {
      font-weight: normal;
      font-family: $font_0;
      margin-right: 4px;
    }
    .product-quantity-inp {
      border: 1px solid $color_submarine_approx;
      width: 100px;
      height: 23px;
      font-family: $font_0;
      padding: 0 10px;
    }
  }
  .product-add-to-cart {
    margin-left: 15px;
    background-color: $color_tapa_approx;
    height: 40px;
    width: 140px;
    text-align: center;
    font-family: $font_0;
    color: $white;
    border: 0;
    outline: 0;
    position: relative;
    top: -4px;
    &:hover {
      background: $color_cinnabar_approx;
    }
  }
  .product-desc-list {
    margin: 0;
    padding: 0;
    .product-desc-list-item {
      list-style: none;
      font: normal 13px/20px $font_0;
    }
  }
  .product-more-info {
    margin: 30px 0;
    .tab-content {
      padding: $padding-base;
      background: $white;
      border: 1px solid $color_alto_approx;
      border-top: 0;
      .tab-pane {
        font: normal 13px/18px $font_0;
      }
    }
    .nav-tabs li {
      a {
        color: $color_storm_dust_approx !important;
        line-height: 27px;
        padding: 0 10px;
        height: 27px;
        background: $color_bon_jour_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        font-family: $font_0;
        border-color: $color_mercury_approx !important;
      }
      &.active > a {
        background: $white;
        border-bottom: 0;
      }
    }
  }
  .product-variants {
    .list-head {
      font-size: 1.1em;
      font-weight: bold;
    }
    .product-variant-colors, .product-variant-materials {
      display: block;
      float: left;
      width: 100%;
    }
    .product-variant {
      float: left;
      cursor: pointer;
      position: relative;
      overflow: visible;
      width: 62px;
      height: 62px;
      margin: 0 12px 12px 0;
      &:hover, &.active {
        .product-thumbnail {
          border: 1px solid $color_mango_tango;
        }
      }
    }
  }
}
