// Vendor
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Libs
@import "libs/smoothproducts";

// variables
@import "common/variables";

// Utils
@import "utils/mixins";
@import "utils/scroll-top";

// Common
@import "common/header";
@import "common/topbar";
@import "common/footer";
@import "common/navbar";
@import "common/minicart";
@import "common/breadcrumb";
@import "common/filters";
@import "common/sorting";
@import "common/loaders";

// Pages
@import "pages/home";
@import "pages/category";
@import "pages/product";
@import "pages/list";
@import "pages/content";

body {
  background: $body_background;
  font-size: $font_base;
}

a, button {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
